html {
  background: #1BDD82E0;
  height: 100vh; 
  /* e1341e */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media only screen and (max-width: 600px) {

  .App {
    width: 90vw;
    margin: auto;
   }

   .makeStyles-root-1, .makeStyles-root-4 {
    height: 120px;
    min-width: 150px;
  }

  div.totals {
    justify-content: space-between;
    margin: 4vw 0;
  }
   

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.totals {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 4vw;
}

input  {
  width: 500px;
}

input[type=number] {
  -moz-appearance: textfield;
}

div.exp-amount {
  margin-left: 20px
}

div.MuiInput-underline::after{
  border-bottom: 2px solid #c5c5c59b;
}

@media only screen and (max-width: 414px) {
  .totals div {
    height: 75px;
    min-width: 75px;
    margin: 0;
  }

  div.totals {
    margin: 0;
  }

  .totals p, .totals h2 {
    font-size: 16px;
  }

  div.MuiPaper-root.paper-main {
    width: auto;
    padding: 15px;
  }

  .totals .MuiCardContent-root {
    padding: 10px;
  }

  ul.MuiList-root {
    margin: auto;
  }

  form > button.submit-btn {
    padding: 12px 0 12px 12px;
  }

  .MuiPaper-root form {
    max-width: none;
  }
}

.paper-main {
  width: 70vw;
  margin: auto;
  padding: 30px;
}
